body {
     font-family: serif;
     background-color: rgba(0, 0, 0, 0.936);
     text-align: center;
}

h1 {
     color: DarkSeaGreen;
}

h2 {
     color: rgb(242, 247, 242);
}

p{
    color: white;
}

button {
    background-color: rgb(255, 0, 132);
    color: white;
    padding: 10px 20px;
    border: rgb(236, 24, 24) 2px solid;
    cursor: zoom-in;
    font-size: 16px;
}

button:hover {
    background-color: rgb(65, 139, 0);
}

.card {
    width: 300px;
    padding: 20px;
    margin: 50px auto;
    border: 1px solid gray;
    border-radius: 50px;
    box-shadow: 10px 10px 10px rgba(158, 5, 5, 0.2);
    text-align: center;
    background-color: rgb(5, 5, 5);
}

.card1 {
    width: 300px;
    padding: 20px;
    margin: 50px auto;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(158, 5, 5, 0.2);
    text-align: center;
    background-color: rgb(5, 5, 5);
}